<form action='/sessions' method='POST'>
  <fieldset>
    <label>
      Email:<br> <input type='email' name='email' placeholder='Email@email.com'>
    </label><br>
    <label>
      Password:<br> <input type='password' name='password'>
    </label><br><br>
    <input type='submit' value='Login'>
  </fieldset>
</form>
