<textarea form="new_comment" name="comment[body]" placeholder="Add your comments here..."></textarea>

<form id="new_comment" action="/comments" method="POST">
  <input type="submit" value="Add Comment" >
</form>