<div class="comment-container">
<textarea form="new_comment" name="comment[body]" placeholder="Add your comments here..."></textarea>

<form id="new_comment" action="/comments" method="POST">
  <input type="hidden" name="comment[commentable_type]" value=<%= @commentable_type %>>
  <input type="hidden" name="comment[commentable_id]" value=<%= @commentable_id %>>
  <input type="hidden" name="comment[commenter_id]" value=<%= current_user.id %>>
  <input type="submit" value="Add Comment" >
</form>

</div>