body {
  margin-top: 100px;
  background-color: #F6F6EF;
  font-family: 'Raleway', sans-serif;
  width: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
 
}

a {
  text-decoration: none;
  color: #52d8fa;
  font-weight: bold;
}

input {
  background: none;
  border: none;
  text-decoration: none;
}

.container {
  margin: auto;
	box-sizing: border-box;
	width: 50%;
  overflow: none;
	border: 2px dashed gray;
	padding: 25px;
}

.questions-full {
  font-family:  Arial, Helvetica;
  font-size:  1em;
  margin: 2%;
  padding-left: 15px;
}

#errors {
  margin: auto;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;
}

.answers-container{
  margin: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
}

.answers {
  padding-bottom: 10px;
  margin: 2%;
  padding-left: 15px;
}

.author {
  font-size: 0.8em;
}

.author-font {
  font-size: 0.8em;
}

a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;
}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.questions-show-container{
  margin-top: 70px;
  padding: 10px 10px 10px 10px;
}

.votes-container {
  float: left;
}

textarea {
  width: 100%;
}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;
} 

.post-container {
  margin: 10px;
}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

#nav-bar-home-list li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #7ffa52;
  font-family: 'Fredoka One', cursive;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sort-questions li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #7ffa52;
  font-family: 'Fredoka One', cursive;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sort-questions li {
  display: inline-block;
}

#sort-questions li a:hover {
  color: white;
}

input.logout {
  background: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin-right: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#logo {
  height: 10%;
  width: 10%;
  display: inline-block;
  float: left;
}

#nav-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: #ffea82;
}

#nav-bar-home-list li{
  float: left;
  padding-top: 3%;
}

#nav-bar-home-list li a:hover {
  color: white;
}


=========DEBUGGING==========
.votes-container {
  border: dotted pink;
}

.answers-container {
  border: solid green;
  margin: 5px;
  padding: 5px;
}

.comments-container {
  border: dotted lightblue;
}

.question-container {
  border: dotted purple;
  margin: 5px;
  padding: 5px;
}

.answer {
  border: solid brown;
}

.comment {
  border: solid blueviolet;
}

.answer-submit-container {
  border: dotted dodgerblue;
}

.votes-container {
  border: dotted pink;
}

.comments-full {
  border: dotted burlywood;
}

.add-comment-container {
  border: dotted gray;
}


