body {
  margin-top: 70px;
  background-color: #F6F6EF;
  font-family: Verdana;
  width: 90%;
  margin: 10px auto;
}


.container {
  margin-top: 100px;
  margin: auto;
  box-sizing: border-box;
  width: 50%;
  border: 2px dashed gray;
  padding: 25px;
}

#nav-bar-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background: bisque;

}
#nav-bar-home-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: bisque;
}

#nav-bar-home-list li {
  display: inline;
  padding-left: 20px;
}

.questions-full {
  font-family:  Arial, Helvetica;
  font-size:  1em;
  margin: 2%;
  padding-left: 15px;
}



#sort-questions {
  padding-top: 100px;
}

#errors {
  margin: auto;
  box-sizing: border-box;
  width: 30%;
  padding: 10px;

}

.answers-container{
  margin: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  /**padding: 10px 10px;*/
  font-size: 1em;
  
}

.answers {
  padding-bottom: 10px;
  margin: 2%;
  padding-left: 15px;
}
.author {
  font-size: 0.8em;
}
.author-font {
  font-size: 0.8em;
}

a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}
form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}



.questions-show-container{
  margin-top: 70px;
  padding: 10px 10px 10px 10px;
}

.votes-container {
  float: left;
}

.comment-container{
  margin: 2%;
  padding-top: 70px;
  padding-bottom: 10px;
  /**padding: 10px 10px;*/
  font-size: 1em;
  
}

.ask-container{
  margin: 2%;
  padding-top: 70px;
  padding-bottom: 10px;
  /**padding: 10px 10px;*/
  font-size: 1em;
  
}


/*body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: Verdana;
  max-width: 700px;
  margin: 0 auto;
}
header {
  background-color: #F4712D;
  padding: 5px 5px;
}
header h1 {
  font-size: 11pt;
  display: inline;
}
header p {
  margin-left: 5px ;
  font-size: 10pt;
  display: inline;
}
header p a {
  color: black;
  text-decoration: none;
}
header p a:nth-child(n + 2):before {
  content: " | ";
}
article {
  margin: 5px 5px;
}*/

a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}


/*  display: inline;
  font-size: 10pt;
}
article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}
article h2 a {
  text-decoration: none;
  color: black;
}
article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}
article p span.points:after {
  content: " points";
}
article p span.username:before {
  content: " by ";
}
article p span.timestamp:after {
  content: ' hours ago';
}
article p span.comment-count:before {
  content: ' | ';
}
article p span.comment-count:after {
  content: ' comments | ';
}
article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}
article p a.delete:before {
  content: ' delete this post';
}*/

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

} 

#sort-questions {
  padding-top: 100px;
}
.post-cintainer {
  margin: 10px;
}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.inline {
  display: inline;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}