<nav class="nav-bar-home">
  <ol>
  <!-- this is the logo img -->
    <li><img src="assests/logo"></li>
  <!-- Questions?? Why not Home instead? -->
    <li><a href="/">Questions</a></li>
  </ol>
</nav>

<nav class="nav-bar-user-functions">
  <ol>
  <% if logged_in? %>
   <li><a href="/questions/new">Ask a Question</a></li>
   <li><a class="logout" href="/sessions">Logout</a></li>
  <% else %>
    <li><a href="/sessions/new">Login</a></li>
    <li><a href="/users/new">Sign Up</a></li>
  <% end %>
  </ol>
</nav>