<div class="questions-container">
  <div class="votes-container">
<!--     VOTES GO HERE    -->
  </div>
  <div class="questions-body">
    <%= question.title %><br>
    <%= question.body %><br>
    <%= question.sum %> questions
    Asked by: <%= question.author.name %><br>
  </div>
</div>

