<div class="questions-container">
  <div class="votes-container">
		
  </div>
  <div class="questions-body">
    <a href="/questions/<%= question.id %>"><%= question.title %></a><br>
    <%= question.answers.count %> answers
    <span class="author">
    	Asked by: <%= question.author.name %><br>
    </span>
  </div>
</div>

