<section id="sort-questions" >
  <ul>
    <!-- where do I go? -->
    <li><a href="">Most Recent</a></li>
    <li><a href="">Highest Voted</a></li>
    <li><a href="">Trending</a></li>
  </ul>
</section>
<div class="post-container">
  <!-- this is the partial to display all the questions  -->
  <% @questions.each  do |question| %>
  <%= erb :'_question_title', layout: false, locals: { question: question } %>
  <% end %>
</div>

